* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 54, 40);
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
}
.tran {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.cel {
  padding: 0.5rem;
}
.far {
  padding: 0.5rem;
}
#num {
  margin-top: 0.5rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.subTitle {
  margin-top: 0.5rem;
}
hid {
  display: none;
}
#hid1 {
  display: none;
}

#hid2 {
  display: none;
}
.red {
  color: red;
}
#submit {
  margin-top: 0.5rem;
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(117, 14, 117);
  font-size: 1rem;
}
#submit:hover {
  background-color: rgb(14, 89, 14);
  transition: 0.5s;
}
@media screen and (max-width: 453px) {
  .tran {
    height: 18rem;
    width: 18rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .content {
    font-size: 0.8rem;
  }
  #submit {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 295px) {
  .tran {
    height: 15rem;
    width: 15rem;
  }
  h1 {
    font-size: 1rem;
  }
  .content {
    font-size: 0.5rem;
  }
  #submit {
    font-size: 0.5rem;
  }
}
